{% extends "library/base.html" %}

{% block div_content %}
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Listado de Prospectos</h3>
                
                <div class="row">
	                <div class="col-lg-12">
	                    <div class="panel panel-primary">
	                        <div class="panel-heading">
	                            Busqueda de Prospectos
	                        </div>
	                        <div class="panel-body">
		                        <form role="form">
		                            <div class="input-group custom-search-form">
		                                <input type="text" class="form-control" placeholder="Search...">
		                                <span class="input-group-btn">
		                                <button class="btn btn-default" type="button" onclick="location.href='/recruitmen/prospect/search/';" >
		                                    <i class="fa fa-search"></i>
		                                </button>
		                            </span>
		                            </div>
		                        </form>
	                        </div>
	                   </div>
	               </div>
               </div>
                
                <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
	                    <div class="panel-heading">
	                            Listado de Prospectos
	                    </div>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-primary" onclick="location.href='/recruitmen/prospect/new/';" >Nueva Requisicion</button>
                            <p>La siguiente tabla muestra todas las requisiciones dadas de alta, puedes utilizar el filtro de la parte superior para buscar una requisicion en especifico.</p>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                            	Seleccionar
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                                Puesto Solicitado
                                            </th>
                                            <th>
                                                Solicitante
                                            </th>
                                            <th>
                                                Empresa
                                            </th>
                                            <th>
                                                Area
                                            </th>
                                            <th>
                                                Estatus
                                            </th>
                                            <th>
                                                Fecha de Alta
                                            </th>
                                            <th>
                                                Acciones
                                            </th>
                                            <th>
                                                Seguimiento
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
									{% if requisition_list %}
									    {% for requisition in requisition_list %}
									    	<tr>
                                            <td><input type="checkbox" id="{{ requisition.instance_id }}" name="requisition_{{ requisition.instance_id }}" > </td>
                                            <td>{{ requisition.name }}</td>
                                            <td>{{ requisition.key_name }}</td>
                                            <td>{{ requisition.instance_type }}</td>
                                            <td>{{ requisition.state }}</td>
                                            <td>{{ requisition.monitoring }}</td>
                                            <td>{{ requisition.platform }}</td>
                                            <td>{{ requisition.private_dns_name }}</td>
                                            <td>                                            
					                            <div class="pull-right">
					                                <div class="btn-group">
					                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
					                                        Actions
					                                        <span class="caret"></span>
					                                    </button>
					                                    <ul class="dropdown-menu pull-right" role="menu">
					                                        <li><a href="#">Action</a>
					                                        </li>
					                                        <li><a href="#">Another action</a>
					                                        </li>
					                                        <li><a href="#">Something else here</a>
					                                        </li>
					                                        <li class="divider"></li>
					                                        <li><a href="#">Separated link</a>
					                                        </li>
					                                    </ul>
					                                </div>
					                            </div>
                                            </td>
                                            <td><a href="/recruitmen/requisition/timeline/" >Seguimiento</a></td>
                                            </tr>
										    {% endfor %}
										{% else %}
										    <tr>
                                            <td>NA</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
										    </tr>
									{% endif %}
				                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% endblock %}