{% extends "library/base.html" %}

{% block div_content %}
            <!-- /.row -->
            <div class="row">
                        <div class="panel-heading">
                            REQUISICION DE PERSONAL
                        </div>
                <div class="col-lg-12">
                
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Datos del Solicitante
                        </div>
                        <div class="panel-body">
                        <form role="form">
                            <div class="row">
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Nombre:</label>
                                            <input class="form-control">
                                        </div>
                                 </div>
                                 <div class="col-lg-6">
                                            <label>Puesto:</label>
                                            <select class="form-control">
                                                <option>Director</option>
                                                <option>Gerente</option>
                                                <option>Supervisor</option>
                                            </select> 
                                 </div>                           
                            </div>
                            <div class="row">
	                            <div class="form-group">
	                                    <div class="form-group">
                                            <label>Empresa:</label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Grupo lektra
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">TV Azteca
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Grupo Salinas
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Circulo de Credito
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">ITALIKA
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">I LATINA
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Otra
                                            </label>
                                        </div>
	                            </div>
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                                            <label>Area:</label>
                                            <select class="form-control">
                                                <option>Comercial</option>
                                                <option>Operaciones</option>
                                                <option>Contratos	</option>
                                            </select> 
                                </div>
                            	<div class="col-lg-6">
                                            <label>Centro de Costos:</label>
                                            <select class="form-control">
                                                <option>CC-101</option>
                                                <option>CC-102</option>
                                                <option>CC-103</option>
                                            </select> 
                                 </div>
                                 </div>                           
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                                            <label>Ubicacion:</label>
                                            <select class="form-control">
                                                <option>CC-101</option>
                                                <option>CC-102</option>
                                                <option>CC-103</option>
                                            </select> 
                                 </div>
                                 <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Extencion:</label>
                                            <input class="form-control">
                                        </div>
                                 </div>                           
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                            		<div class="form-group">
                                            <label>Puesto del Jefe Inmediato:</label>
                                            <select class="form-control">
                                                <option>Director Comercias</option>
                                                <option>Director de Finanzas</option>
                                                <option>Director Operaciones</option>
                                            </select>
                            		</div> 
                            	</div> 
	                            <div class="col-lg-6">
                            		<div class="form-group">
                                            <label>Nombre del Jefe Inmediato:</label>
                                            <select class="form-control">
                                                <option>Gerardo Martinez</option>
                                                <option>Hugo Juarez</option>
                                                <option>Fernando Contreras</option>
                                            </select> 
                            		</div>
	                            </div>
                            </div>
                                                                               
                            <div class="row">
                            	<div class="col-lg-6">
                                 </div>
                                 <div class="col-lg-6">
                                 </div>                           
                            </div>
                            
                            <div class="row">
                            </div>
                                                        
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    </form>
                    </div>
                    
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Perfil de la Vacante
                        </div>
                        <div class="panel-body">
                        <form role="form">
                            <div class="row">
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Puesto Solicitado:</label>
                                            <select class="form-control">
                                                <option>1 - Director de Sistemas</option>
                                                <option>2 - Director de Finanzas</option>
                                                <option>3 - Director Comercial</option>
                                                <option>4 - Director de Telecomunicaciones</option>
                                                <option>5 - Director de Medios</option>
                                            </select>
                                        </div>
                                 </div>
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Cantidad de posiciones solicitadas:</label>
                                            <input class="form-control">
                                        </div>
                                 </div>
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
	                                    <div class="form-group">
                                            <label>Educacion:</label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Licenciatura
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Maestria
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Doctorado
                                            </label>
                                        </div>
                                 </div>                
                            </div>
				<div class="row">
                            	<div class="col-lg-6">
                            		<label>Posibles Carreras:</label>
                                    <div class="form-group">
                                            <label>Area de Conocimiento:</label>
                                            <select class="form-control">
                                                <option>Administracion</option>
                                                <option>Computacion</option>
                                                <option>Logistica</option>
                                            </select>
                                    </div>
                                </div>
								<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Multiple Selects</label>
                                            <select multiple class="form-control">
                                                <option>1 - Ingenieria en Sistemas Computacionales</option>
                                                <option>2 - Licenciatura en Informatica</option>
                                                <option>3 - Actuaria con especialidad en Computacion</option>
                                                <option>4 - Ingenieria en Matematicas</option>
                                                <option>5 - Ingeniaria en Telematica</option>
                                            </select>
                                        </div>
                                </div>     
                    </div>
                            <div class="row">
                            	<div class="col-lg-6">
                                            <label>Idiomas:</label>
                                            <select multiple class="form-control">
                                                <option>1 - Ingles</option>
                                                <option>2 - Portugues</option>
                                                <option>3 - Frances</option>
                                                <option>4 - Italiano</option>
                                                <option>5 - Aleman</option>
                                                <option>5 - Chino Mandarin</option>
                                            </select>
                                 </div>      
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Otro Cual?:</label>
                                            <input class="form-control">
                                        </div>   
                                 </div>                    
                            </div>
                            <div class="row">
                                        <div class="form-group">
                                            <label>Experiencia profesional</label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>              
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                                         <div class="form-group">
                                            <label>Tiempo de Experiencia:</label>
                                            <input class="form-control">
                                        </div>
                            	</div> 
	                            <div class="col-lg-6">
                            		<div class="form-group">
                                            <label>Industria Especifica:</label>
                                            <select multiple class="form-control">
                                                <option>Ventas al por menor</option>
                                                <option>Automotriz</option>
                                                <option>Radio</option>
                                                <option>Television</option>
                                            </select> 
                            		</div>
	                            </div>
                            </div>
                            <div class="row">
                                        <div class="form-group">
                                            <label>Conocimientos y Habilidades Requeridas</label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>              
                            </div>
                            <div class="row">
                                        <div class="form-group">
                                            <label>Priorizar Conocimientos</label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>              
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                                         <div class="form-group">
                                            <label>Sueldo:</label>
                                            <input class="form-control">
                                        </div>
                            	</div>
                            	<div class="col-lg-6">
	                                    <div class="form-group">
                                            <label>Tipo de Sueldo:</label>
                                            <br/>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Neto
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Bruto
                                            </label>
                                        </div>
                            	</div>  
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
	                                    <div class="form-group">
                                            <label>Genero:</label>
                                            <br/>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Hombre
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Mujer
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Indistinto
                                            </label>
                                        </div>
                            	</div>
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                            		<div class="form-group">
                                            <label>Horario de Trabajo:</label>
                                            <select class="form-control">
                                                <option>De Lunes a Viernes de 8am a 6 pm</option>
                                                <option>De lunes a Viernes de 9am a 7pm</option>
                                                <option>Sabados y Domingos de 8am a 10pm</option>
                                                <option>Lunes a Sabado de 8am a 7pm</option>
                                            </select> 
                            		</div>
                            	</div> 
	                            <div class="col-lg-6">
                            		<div class="form-group">
                                            <label>Ubicacion:</label>
                                            <select class="form-control">
                                                <option>interlomas</option>
                                                <option>Santa Fe</option>
                                                <option>Centro</option>
                                                <option>Churubusco</option>
                                            </select> 
                            		</div>
	                            </div>
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                            		<div class="form-group">
                                            <label>Rango de edad preferido:</label>
                                            <select class="form-control">
                                                <option>18-22</option>
                                                <option>23-30</option>
                                                <option>30-35</option>
                                                <option>35-40</option>
                                                <option>Indistinto</option>
                                            </select> 
                            		</div>
                            	</div> 
	                            <div class="col-lg-6">
                            		<div class="form-group">
                                            <label>Empresa que contrata:</label>
                                            <select class="form-control">
                                                <option>Grupo Elektra</option>
                                                <option>TV Azteca</option>
                                                <option>Grupo Salinas</option>
                                                <option>Circulo de Credito</option>
                                                <option>ITALIKA</option>
                                                <option>I LATINA</option>
                                            </select> 
                            		</div>
	                            </div>
                            </div>
                                 
                        </div>
                        <!-- /.panel-body -->
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Especificaciones y Responsabilidades
                        </div>
                        
                     <br/>   
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            CLIENTE
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Persona que entrevitara a los candidatos:</label>
                                            <select class="form-control">
                                                <option>Jesus Alberto Perez Gomes</option>
                                                <option>Antonio Gonzalez Perez</option>
                                                <option>Erika Juarez Molina</option>
                                            </select> 
                                        </div>
                                 </div>
                                 <div class="col-lg-6">
                                            <label>Puesto:</label>
                                            <select class="form-control">
                                                <option>Director</option>
                                                <option>Gerente</option>
                                                <option>Supervisor</option>
                                            </select> 
                                 </div>                           
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Ubicacion:</label>
                                            <select class="form-control">
                                                <option>interlomas</option>
                                                <option>Santa Fe</option>
                                                <option>Centro</option>
                                                <option>Churubusco</option>
                                            </select> 
                                        </div>
                                 </div>
                                 <div class="col-lg-6">
                                            <label>Extencion:</label>
											<input class="form-control">
                                 </div>                           
                            </div>
                 	   </div>
                    </div>
                        
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            CAT
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Persona que le atendera hasta la seleccion del candidato a cubrir la vacante:</label>
                                            <select class="form-control">
                                                <option>Jesus Alberto Perez Gomes</option>
                                                <option>Antonio Gonzalez Perez</option>
                                                <option>Erika Juarez Molina</option>
                                            </select> 
                                        </div>
                                 </div>
                                 <div class="col-lg-6">
                                            <label>Puesto:</label>
                                            <select class="form-control">
                                                <option>Director</option>
                                                <option>Gerente</option>
                                                <option>Supervisor</option>
                                            </select> 
                                 </div>                           
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Ubicacion:</label>
                                            <select class="form-control">
                                                <option>interlomas</option>
                                                <option>Santa Fe</option>
                                                <option>Centro</option>
                                                <option>Churubusco</option>
                                            </select> 
                                        </div>
                                 </div>
                                 <div class="col-lg-6">
                                            <label>Extencion:</label>
											<input class="form-control">
                                 </div>                           
                            </div>
                            <div class="row">
                                 <div class="col-lg-6">
                                            <label>Fecha de inicio de busqueda:</label>
											<input class="form-control" placeholder="DD/MM/YYYY">
                                 </div>      
                                 <div class="col-lg-6">
                                            <label>Fecha compromiso entrega candidatos:</label>
											<input class="form-control" placeholder="DD/MM/YYYY">
                                 </div>                           
                            </div>
                    	</div>
                    </div>
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            RH NEGOCIO
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Persona responsable de confirmar busqueda, liberar posicion y ofertar al candidato:</label>
                                            <select class="form-control">
                                                <option>Jesus Alberto Perez Gomes</option>
                                                <option>Antonio Gonzalez Perez</option>
                                                <option>Erika Juarez Molina</option>
                                            </select> 
                                        </div>
                                 </div>
                                 <div class="col-lg-6">
                                            <label>Puesto:</label>
                                            <select class="form-control">
                                                <option>Director</option>
                                                <option>Gerente</option>
                                                <option>Supervisor</option>
                                            </select> 
                                 </div>                           
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Ubicacion:</label>
                                            <select class="form-control">
                                                <option>interlomas</option>
                                                <option>Santa Fe</option>
                                                <option>Centro</option>
                                                <option>Churubusco</option>
                                            </select> 
                                        </div>
                                 </div>
                                 <div class="col-lg-6">
                                            <label>Extencion:</label>
											<input class="form-control">
                                 </div>                           
                            </div>
                            <div class="row">
                            	<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Responsable de realizar la contratacion de personal: </label>
                                            <select class="form-control">
                                                <option>Administracion de Recursos Humanos</option>
                                                <option>Empresa Externa - Contratacion RH S.A. de C.V.</option>
                                                <option>Empresa Externa - Recursos Humanos Dinamicos S.C.</option>
                                            </select> 
                                        </div>
                                 </div>                   
                            </div>
                    	</div>
                    </div>
                    </div>
{% endblock %}